extends layout

block content
    div
        nav.pre-scrollable
            each val in watchlist
                ul
                    li
                        a(href='/watchlist/' + val._id)=val.title